In [1]:
import pandas as pd
import itertools as it
import collections
data = pd.read_csv('movie_bd_v5.csv')

In [2]:
def separation(data):
    if '|' in data:
        data = data.split('|')
    return data

In [3]:
type(data['genres'][0])

str

In [4]:
'displaying the entire dataset for easier navigation'

data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [5]:
question_1 = data.loc[data['original_title'].isin 
                       (['The Dark Knight Rises',
                        'Spider-Man 3',
                        'Avengers: Age of Ultron',
                       "The Warrior's Way",
                       'Pirates of the Caribbean: On Stranger Tides'])]

question_1.loc[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

In [6]:
question_2 = data[data['runtime'] == data['runtime'].max()]
question_2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [7]:
question_3 = data[data['runtime'] == data['runtime'].min()]
question_3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [8]:
question_4 = data.runtime.mean()
question_5 = data.runtime.median()
print(question_4, question_5)

109.6585494970884 107.0

In [9]:
data['profit'] = data['revenue'] - data['budget']

In [10]:
question_6 = data[data['profit'] == data['profit'].max()]
question_6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [11]:
question_7 = data[data['profit'] == data['profit'].min()]
question_7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [12]:
question_8 = data.query('profit>0').count()
question_8

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [13]:
question_9 = data.loc[data['release_year'] == 2008]

question_9.loc[question_9['profit'] == question_9['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [14]:
question_10 = data.loc[data['release_year'].isin(['2012','2013','2014'])]

question_10.loc[question_10['profit'] == question_10['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [15]:
data['genres'] = data['genres'].apply(separation)
question_11 = data.explode('genres')
question_11.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [16]:
question_12 = data.query('profit>0').explode('genres')
question_12.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [17]:
data['director'] = data['director'].apply(separation)
question_13 = data.explode('director')
question_13.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [18]:
question_14 = question_13.explode('genres')
question_14 = question_14[question_14['genres'] == 'Action']
question_14.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
MÃ¥ns MÃ¥rlind        1
Antony Hoffman        1
DJ Pooh               1
Peter Spierig         1
Des McAnuff           1
Name: director, Length: 364, dtype: int64

In [19]:
data['cast'] = data['cast'].apply(separation)
question_15 = data[data['release_year'] == 2012].explode('cast').groupby(['cast'])['profit'].sum()
question_15.loc[question_15 == question_15.max()]

cast
Chris Hemsworth    1542450773
Name: profit, dtype: int64

In [20]:
question_16 = data[data['budget'] > data['budget'].mean()].explode('cast').cast.value_counts()
question_16

Matt Damon                    18
Adam Sandler                  17
Angelina Jolie                16
Samuel L. Jackson             15
Eddie Murphy                  15
                              ..
Jaran 'See Tao' Petcharoen     1
Michelle Yeoh                  1
Violante Placido               1
Jason Sudeikis                 1
Sarah Shahi                    1
Name: cast, Length: 1505, dtype: int64

In [21]:
question_17 = data.explode('cast')
question_17 = question_17[question_17['cast'] == 'Nicolas Cage'].explode('genres').genres.value_counts()
question_17

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

In [22]:
#data['production_companies'] = data['production_companies'].apply(separation)
#question_18 = data.explode('production_companies')
#question_18 = question_18[question_18['production_companies'] == 'Paramount Pictures']
question_18 = data[data.production_companies.str.contains('Paramount Pictures')]
question_18.loc[question_18['profit'] == question_18['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [23]:
question_19 = data.groupby(['release_year'])['profit'].sum()
question_19.loc[question_19 == question_19.max()]

release_year
2015    18668572378
Name: profit, dtype: int64

In [24]:
question_20 = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum()
question_20.loc[question_20 == question_20.max()]

release_year
2014    2295464519
Name: profit, dtype: int64

In [25]:
release_date = data['release_date'].apply(lambda x:x.split('/'))
data['release_month'] = release_date.apply(lambda x:x[0])
question_21 = data['release_month'].value_counts()
question_21

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [26]:
question_22 = len(data.loc[data['release_month'].isin(['6','7','8'])])
question_22

450

In [27]:
question_23 = data.loc[data['release_month'].isin(['1','2','12'])].explode('director')
question_23.director.value_counts()

Peter Jackson          7
Steven Soderbergh      6
Clint Eastwood         6
Adam Shankman          4
Nancy Meyers           4
                      ..
Christopher Spencer    1
Ben Stiller            1
Niki Caro              1
McG                    1
Phyllida Lloyd         1
Name: director, Length: 358, dtype: int64

In [28]:
data['production_companies'] = data['production_companies'].apply(separation)
question_24 = data.explode('production_companies')
question_24['title_length'] = question_24['original_title'].apply(lambda x:len(x))
question_24 = question_24.groupby(['production_companies'])['title_length'].mean()
question_24.loc[question_24 == question_24.max()]

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

In [29]:
word_count = data.overview.str.replace(', ',' ')
word_count = word_count.str.replace('.',' ')
word_count = word_count.str.replace(':',' ')
word_count = word_count.str.replace('-',' ')
word_count = word_count.str.replace(';',' ')
word_count = word_count.apply(lambda x:x.split(' '))
data['word_count'] = word_count.apply(lambda x: len(x))
question_25 = data.explode('production_companies').groupby(['production_companies'])['word_count'].mean()
question_25.loc[question_25 == question_25.max()]

production_companies
Midnight Picture Show    184.0
Name: word_count, dtype: float64

In [30]:
boundary = data['vote_average'].quantile(0.99)
question_26 = data.loc[data['vote_average'] > boundary]
question_26

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,word_count
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",6/9/2015,8.0,2015,678708609,6,118
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",10/16/2015,8.0,2015,29401758,10,51
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",11/5/2014,8.0,2014,456752480,11,36
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",7/30/2014,7.9,2014,603312399,7,29
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",11/14/2014,8.0,2014,219555708,11,50
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",10/1/2014,7.9,2014,308330363,10,31
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2/26/2014,7.9,2014,144600318,2,68
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",7/14/2010,7.9,2010,665500000,7,46
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825,7,71
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",9/24/2002,7.9,2002,85072577,9,43
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",12/1/2003,7.9,2003,1024888979,12,47
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",12/25/2013,7.9,2013,292000694,12,31
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",10/18/2013,7.9,2013,167000000,10,65
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",10/11/2000,7.9,2000,30723096,10,82

In [31]:
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data_p = data27['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(it.combinations(s, 2)))
data_p = data_p.explode('pairs').reset_index()
collections.Counter(data_p['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]